*.dll
*.exe
*.obj
*.tlog
*.pdb
*.cache
*.FileListAbsolute.txt
*.suo
*.ilk
*.lib
*.exp
*.metagen
*.sdf
*.filters
*.user
*.ipch
*.aps
*.bak
*.opensdf
*.nupkg

bin/
obj/
Debug/
DebugUnicode/
Release/
ReleaseBinary/
Release-Eng/
Project/Src/packages
Project/Test/FormsTest/packages